body{
  width: 100%;
  height: 100%;
}

.react-resizable-handle{
  z-index: 999999999
}

.leaflet-container .leaflet-control-attribution {
  padding: 0 15px !important;
}

.panel-body {
  padding: 0px !important;
  -webkit-flex: auto;
  flex: auto;
  display: -webkit-flex;
	display: flex;
}

.panel-wrapper {
  height: 100%;
  overflow: hidden;
}

.panel {
  height: 100%;
  margin: 0px;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.panel-heading {
}

.component {
  flex: auto;
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
}
